.logo {
    width: 1000px;
    height: 1000px;
}

.menu {
    background-color: white;
    height: 3.5rem;
}

.menu-item {
    display: inline-block;
    color: black;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item-active {
    display: inline-block;
    color: green;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item:hover {
    background-color: white;
}

.menu-item:active, .menu-item.active {
    color:lightgreen;
    border-bottom: solid 1px lightgreen;
}