.header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.header .Logo {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.header .header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-right .search-button{
    width: 36px;
    height: 36px;

    font-size: 20px;
    text-align: center;

    padding: 4px;

    cursor: pointer;
    border-radius: 50%;
}
.header .header-right .search-button:hover{
    background:rgb(26, 29, 32);
    transition: ease all .4s;
}
.header .header-right .login-button{
    width: 60px;
    height: 28px;

    text-align: center;
    padding: 4px;
    font-size: 16px;
    background :rgb(52, 58, 64);
    color :white;
    font-weight: bold;

    border-radius: 40px;
    cursor: pointer;
}
.header .header-right .login-button:hover{
    background :rgba(52, 58, 64, 0.5);
    transition: ease all .4s;
}
.header .header-right .search-button + div{
    margin-left: 8px;
}